@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ============header=================== */
header {
  .dropdown {
    a {
      text-decoration: none;
      font-family: "Josefin Sans", sans-serif;
      color: #0a2d63;
      font-weight: 800;
      font-size: 12px;
      text-transform: uppercase;
      transition: 300ms;

      &:hover {
        color: black;
      }
      span {
        font-size: 10px;
      }
    }
    &:hover {
      #dropdown-menulg {
        min-width: 280px;
        box-shadow: 1px black;
        border-radius: 0;
        display: block;
      }
    }
  }
  .logo {
    width: 70px;
    height: 66px;
  }
}
/* ================hero======================= */
.hero {
  background-image: url(./Spa-hero-bgimage.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  .overlaytext {
    p {
      font-family: "Josefin Sans", sans-serif;
    }
  }
  a {
    color: white;
  }
}
/* ================section-1======================= */
.section-1 {
  h2 {
    font-family: "Josefin Sans", sans-serif;
    color: #0a2d63;
  }
  p {
    font-family: "PT Sans", sans-serif;
    color: #0a2d63;
  }
  .box {
    position: sticky;
    top: 150px;
    align-self: start;
    #top-text {
      font-family: "Josefin Sans", sans-serif;
      color: #0a2d63;
    }
    #bottom-text {
      font-family: "PT Sans", sans-serif;
    }
    button {
      border-radius: 3.125rem;
      letter-spacing: 2px;
      background-color: transparent;
      color: #0a2d63;
      border: 2px solid #0a2d63;
      font-family: "Josefin Sans", sans-serif;
      font-size: 12px;
      &:hover {
        color: white;
        background-color: #0a2d63;
      }
    }
  }
}
/* section-1-------------------------- */
/* ---------------footer--------------- */
footer {
  background-color: #0a2d63;
  li {
    color: white;
  }
  a {
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    font-size: clamp(13px, 0.8vw, 28px);
    color: white;
    margin: 0;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    font-size: clamp(13px, 0.8vw, 28px);
    color: white;
    margin: 0;
  }
  button {
    font-family: "Josefin Sans", sans-serif;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    transition: 200ms;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}
/* ========================================= */
